@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.home-container {
    margin: 0;
    height: 100vh;
    width: 100%;
    background:
        radial-gradient(circle at top left, var(--violet)0%, var(--violet2) 50%, var(--violet3) 100%, transparent) no-repeat,
        radial-gradient(circle at top right, rgba(7, 150, 255, 1) -4%, rgba(0, 150, 255, 0.7) 10%, rgba(0, 150, 255, 0.3) 40%, transparent) no-repeat;
    background-size: 100% 100%;
    background-position: top left, top right;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    box-sizing: border-box;
    padding: 1rem;
}

.home-title {
    font-weight: 900;
    font-size: 5rem;
    -webkit-text-stroke: 1px white;
    letter-spacing: 3rem;
    color: transparent;
}

.home-name {
    font-size: 3rem;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    color: transparent;
}

.home-name span {
    -webkit-text-stroke: none;
    color: white;
    font-weight: 400;
}

.home-about {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    color: transparent;
}

.home-about span {
    -webkit-text-stroke: none;
    color: white;
    font-weight: 400;
}
@media screen and (max-width:800px) {
    .home-title {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 1rem;
    }
    .home-container{
        gap: 1.3rem;
    }
    .home-name {
        font-size: 2.8rem;
        text-align: center;
        letter-spacing: 0.5rem;
    }
    .home-about {
        font-size: 1.8rem;
        text-align: center;
    }

}
@media screen and (max-width:500px) {
    .home-title {
        font-size: 4rem;
        text-align: center;
        letter-spacing: 1rem;
    }
    .home-container{
        gap: 1.3rem;
    }
    .home-name {
        font-size: 2.2rem;
        text-align: center;
        letter-spacing: 0.5rem;
    }
    .home-about {
        font-size: 1.3rem;
        text-align: center;
    }

}
@media screen and (max-width:300px) {
    .home-title {
        font-size: 2.8rem;
        text-align: center;
        letter-spacing: 1rem;
    }
    .home-container{
        gap: 1.3rem;
    }
    .home-name {
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 0.3rem;
    }
    .home-about {
        font-size: 1.2rem;
        text-align: center;
    }

}