.last-page-container{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
.contact-title{
    font-size: 3rem;
}
.resume{
    margin-top: 3rem;
    font-size: 1.5rem;
}
.resume span{
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: 1.8rem;
    cursor: pointer;
}
.social-media{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem;
}
.social-title{
    font-size: 2rem;
}