.secondPage-container{
    height: 200vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.secondPage-display-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.secondPage-circle-container{
    height: 10rem;
    width: 10rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5); /* Adds a glowing effect */
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
}
.secondPage-circle-container span{
    color: black;
    opacity: 0;
    transform: translateX(-100%);
}