.third-page-container{
    height: 400vh;
    background-color: #D7D7D7;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.third-page-components{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: start;
    flex-direction: column;
}

.skill-title{
    font-size: 2rem;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 20%;
    display: flex;
    opacity: 1;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
.skill-container1{
    height: 20rem;
    width: 90%;
    background-color: red;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
/* .skill-container p{
    font-size: 1.5rem;
}
.skill-container .rows{
    width: 100%;
    height: 8rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.skill-container span img{
    object-fit: contain;
    width: 6rem;
    background-color: red;
} */