.third-page-container{
    height: auto;
    background-color: #D7D7D7;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 15rem;
}

.third-page-components{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: start;
    gap: 5rem;
    flex-direction: column;
}

.skill-title{
    font-size: 3rem;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 20%;
    display: flex;
    opacity: 1;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}
.skill-container1{
    height: auto;
    width: 90%;
    /* background-color: red; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
.row{
    height: 100%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row-title{
    /* background-color: black; */
    height: 100%;
    width: 50%;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.skill-component{
    height: 100%;
    width: 50%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.skill-container1 span img{
    object-fit: contain;
    width: 6rem;
} 
.skill-container2{
    height: auto;
    width: 90%;
    /* background-color: grey; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
.skill-container2 span img{
    object-fit: contain;
    width: 6rem;
} 
.skill-container3{
    height: auto;
    width: 90%;
    /* background-color: white; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
.skill-container3 span img{
    object-fit: contain;
    width: 6rem;
} 
.skill-container4{
    height: auto;
    width: 90%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
}
.skill-container4 span img{
    object-fit: contain;
    width: 6rem;
} 

@media screen and (max-width:800px) {
    .third-page-container{
        padding-bottom: 3rem;
    }
    .third-page-components{
        gap: 3rem;
        padding-bottom: 5rem;
    }
    .skill-container1{
        padding: 0.4rem;
        gap: 3rem;
        width: 100%;
    }
    .skill-title{
        width:100%;
        font-size: 2rem;
    }
    .row{
        flex-direction: column;
        gap: 2rem;
    }
    .row-title{
        width: 80%;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
        font-size: 1.5rem;
        text-align: center;
    }
    .skill-component{
        width: 100%;
        flex-direction: column;
    }
    .skill-component span img{
        object-fit: cover;
        width: 5rem;
    }
}
@media screen and (max-width:300px) {
    .third-page-container{
        padding-bottom: 3rem;
    }
    .third-page-components{
        gap: 3rem;
        padding-bottom: 5rem;
    }
    .skill-container1{
        padding: 0.4rem;
        gap: 3rem;
        width: 100%;
    }
    .skill-title{
        width:100%;
        font-size: 2rem;
    }
    .row{
        flex-direction: column;
        gap: 2rem;
    }
    .row-title{
        width: 80%;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
        font-size: 1.5rem;
        text-align: center;
    }
    .skill-component{
        width: 100%;
        flex-direction: column;
    }
    .skill-component span img{
        object-fit: cover;
        width: 3.5rem;
    }
}